<main class="container-fluid">
    <section class="row p-4">
        <article class="col d-flex align-items-center">
            <h2>Dashboard</h2>
        </article>

        <article class="col-6 col-lg-3 d-flex justify-content-end align-items-center">
            <a class="btn btn-dark" routerLink="/admin/projects"> <img src="/assets/icons/add.svg" width="20"> Nuevo proyecto</a>
        </article>
    </section>
</main>

<main class="container-fluid">
    <section class="row p-4 gap-4">

        <article class="card col-lg p-2">
            <h5 class="card-title">Proyectos totales  <img src="/assets/icons/project.svg" width="20"> </h5>
            <p class="card-text">18 proyectos</p>
        </article>

        <article class="card col-lg p-2">
            <h5 class="card-title">Usuarios activos <img src="/assets/icons/user.svg" width="20"> </h5>
            <p class="card-text">120 usuarios</p>
        </article>

        <article class="card col-lg p-2">
            <h5 class="card-title">Tareas pendientes <img src="/assets/icons/task.svg" width="20"> </h5>
            <p class="card-text">30 no completadas</p>
        </article>

        <article class="card col-lg p-2">
            <h5 class="card-title">Recursos <img src="/assets/icons/resource.svg" width="20"> </h5>
            <p class="card-text">60</p>
        </article>

    </section>
</main>

<main class="container-fluid">
    <section class="row p-4 gap-4">
        <article class="col-lg card p-2">
            <h5 class="card-title">Proyectos Recientes <img src="/assets/icons/project.svg" width="20"> </h5>
            <p class="card-text">Estado actual de los proyectos en desarrollo</p>
            <div class="d-flex justify-content-between align-items-center border-bottom pb-2 mb-2">
                <div>
                    <h5 class="card-title">Sistema CRM</h5>
                    <h6 class="card-subtitle">Vence: 15/07/2025</h6>
                </div>
                <div>
                    <span class="badge text-bg-success">Completado</span>
                </div>
            </div>

        </article>

        <article class="col-lg-5 card p-2">
            <h5 class="card-title">Tareas recientes <img src="/assets/icons/task.svg" width="20"> </h5>
            <p class="card-text">Últimas tareas asignadas y su estado</p>
            <div class="d-flex justify-content-between align-items-center border-bottom pb-2 mb-2">
                <div>
                    <h5 class="card-title">Diseño de interfaz</h5>
                    <h6 class="card-subtitle">Sistema CRM </h6>
                </div>
                <div class="d-flex gap-1 flex-column">
                    <span class="badge text-bg-primary">Alta</span>
                    <span class="badge text-bg-success">Completado</span>
                </div>
            </div>

        </article>
    </section>
</main>