<main class="container-fluid">
    <section class="row p-4">
        <article class="col d-flex align-items-center">
            <h2>Gestión de proyectos</h2>
        </article>

        <article class="col-6 col-lg-3 d-flex justify-content-end align-items-center">
            <button class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="cleanForm()">Nuevo proyecto</button>
        </article>
    </section>
</main>

<main class="container-fluid">
    <section class="row p-4">
        <article class="col-lg card p-2">
            <h5 class="card-title">Lista de usuarios</h5>
            <h6 class="card-subtitle">Gestiona todos los usuarios del sistema y sus roles</h6>
            <form class="mt-3 p-2 d-flex gap-4" [formGroup]="filterForm" (ngSubmit)="filterProjects()">

                <input type="text" class="form-control mb-3" placeholder="Buscar proyecto..." formControlName="search">

                <select class="form-select form-select-sm mb-3" aria-label=".form-select-sm example" formControlName="state">
                    <option value="">Filtrar por estado</option>
                    <option value="No iniciado">No iniciado</option>
                    <option value="En proceso">En proceso</option>
                    <option value="Terminado">Terminado</option>
                </select>

                <button type="submit" class="btn btn-dark mb-3" >Filtrar</button>

            </form>
            <div class="row p-4">
                @for (item of projects; track $index) {
                <div class="col-lg-4 p-2">
                    <div class="card p-4">
                        <div class="d-flex justify-content-between align-items-center">
                            <h5 class="card-title">{{item.name}}</h5>
                            <span class="badge text-bg-primary">{{item.state}}</span>
                        </div>
                        <div class="mt-3 d-flex justify-content-between align-items-center">
                            <h6>{{item.date_init}}</h6>
                            <h6>{{item.date_end}}</h6>
                        </div>
                        <div class="mt-3 d-flex justify-content-end gap-2">
                            <button class="btn btn-light border border-light-subtle" data-bs-toggle="modal"
                                data-bs-target="#project"
                                (click)="getProject(item.name,item.date_init,item.date_end,item.state,item.id)"><img
                                    src="/assets/icons/edit.svg" width="20"></button>
                            <button class="btn btn-light border border-light-subtle" (click)="deleteProject(item.id)"> <img
                                    src="/assets/icons/delete.svg" width="20"> </button>
                        </div>
                    </div>
                </div>
                }
            </div>
        </article>
    </section>
</main>



<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div>
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Crear Nuevo Proyecto</h1>
                    <p>Completa la información para crear un nuevo proyecto.</p>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <form class="d-flex flex-column gap-2" [formGroup]="projectForm" (ngSubmit)="addProject()">

                    <div class="mb-3">
                        <label for="name" class="form-label">Nombre del proyecto:</label>
                        <input type="text" class="form-control" id="name" aria-describedby="nameHelp"
                            formControlName="name">
                        <div class="form-text">Ingresa el nombre del proyecto</div>
                        @if(hasError('name','required')){
                        <div class="text-danger mt-2">El nombre es obligatorio</div>
                        }
                    </div>

                    <div class="mb-3">
                        <label for="dateInit" class="form-label">Fecha de inicio:</label>
                        <input type="date" class="form-control" id="dateInit" aria-describedby="dateInitHelp"
                            formControlName="dateInit">
                        <div class="form-text">Ingresa la fecha de inicio del proyecto</div>
                        @if (hasError('dateInit','required')) {
                        <div class="text-danger mt-2">El campo es obligatorio</div>
                        }
                    </div>

                    <div class="mb-3">
                        <label for="dateEnd" class="form-label">Fecha de termino:</label>
                        <input type="date" class="form-control" id="dateEnd" aria-describedby="dateEndHelp"
                            formControlName="dateEnd">
                        <div class="form-text">Ingresa la fecha de termino del proyecto</div>
                        @if (hasError('dateEnd','required')) {
                        <div class="text-danger mt-2">El campo es obligatorio</div>
                        }
                    </div>

                    <div class="mb-3">
                        <label for="" class="form-label">Estado</label>
                        <select class="form-select" aria-label="Default select example" formControlName="state">
                            <option value="No iniciado">No iniciado</option>
                            <option value="En proceso">En proceso</option>
                            <option value="Terminado">Terminado</option>
                        </select>
                        <div class="form-text">Ingresa el estado del proyecto</div>
                        @if(hasError('state','required')){
                        <div class="text-danger mt-2">El campo es obligatorio</div>
                        }
                    </div>

                    <button type="submit" class="btn btn-dark">Crear proyecto </button>

                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="project" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div>
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Crear Nuevo Proyecto</h1>
                    <p>Completa la información para crear un nuevo proyecto.</p>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <form class="d-flex flex-column gap-2" [formGroup]="projectForm" (ngSubmit)="updateProject()">

                    <div class="mb-3">
                        <label for="name" class="form-label">Nombre del proyecto:</label>
                        <input type="text" class="form-control" id="name" aria-describedby="nameHelp"
                            formControlName="name">
                        <div class="form-text">Ingresa el nombre del proyecto</div>
                        @if(hasError('name','required')){
                        <div class="text-danger mt-2">El nombre es obligatorio</div>
                        }
                    </div>

                    <div class="mb-3">
                        <label for="dateInit" class="form-label">Fecha de inicio:</label>
                        <input type="date" class="form-control" id="dateInit" aria-describedby="dateInitHelp"
                            formControlName="dateInit">
                        <div class="form-text">Ingresa la fecha de inicio del proyecto</div>
                        @if (hasError('dateInit','required')) {
                        <div class="text-danger mt-2">El campo es obligatorio</div>
                        }
                    </div>

                    <div class="mb-3">
                        <label for="dateEnd" class="form-label">Fecha de termino:</label>
                        <input type="date" class="form-control" id="dateEnd" aria-describedby="dateEndHelp"
                            formControlName="dateEnd">
                        <div class="form-text">Ingresa la fecha de termino del proyecto</div>
                        @if (hasError('dateEnd','required')) {
                        <div class="text-danger mt-2">El campo es obligatorio</div>
                        }
                    </div>

                    <div class="mb-3">
                        <label for="" class="form-label">Estado</label>
                        <select class="form-select" aria-label="Default select example" formControlName="state">
                            <option value="No iniciado">No iniciado</option>
                            <option value="En proceso">En proceso</option>
                            <option value="Terminado">Terminado</option>
                        </select>
                        <div class="form-text">Ingresa el estado del proyecto</div>
                        @if(hasError('state','required')){
                        <div class="text-danger mt-2">El campo es obligatorio</div>
                        }
                    </div>

                    <button type="submit" class="btn btn-dark">Aplicar cambios </button>

                </form>
            </div>
        </div>
    </div>
</div>