@if ( subbmited && error) {
<div class="alert alert-danger " role="alert">
    ¡Ha ocurrido un error al registrar el usuario!. {{errorMessage}}
</div>
}
<main class="container-fluid">
    <section class="row p-4 justify-content-center">
        <form class="col-lg-5 card p-5 shadow-sm" [formGroup]="form" (ngSubmit)="register()">

            <h3 class="text-center">Registro de usuario</h3>
            <p class="text-center">Completa los campos para poder acceder a la aplicación</p>

            <div class="row mb-3">
                <div class="col-lg">
                    <label for="name" class="form-label">Nombres:</label>
                    <input type="text" class="form-control" id="name" aria-describedby="nameHelp"
                        formControlName="name">
                    <div class="form-text">Ingresa tu nombre completo</div>
                    @if(hasError('name','required')){
                    <div class="text-danger mt-2">El nombre es obligatorio</div>
                    }
                </div>
                <div class="col-lg">
                    <label for="lastname" class="form-label">Apellidos:</label>
                    <input type="text" class="form-control" id="lastname" aria-describedby="lastnameHelp"
                        formControlName="lastName">
                    <div class="form-text">Ingresa tus apellidos</div>
                    @if (hasError('lastName','required')) {
                    <div class="text-danger mt-2">El apellido es obligatorio</div>
                    }
                </div>
            </div>

            <div class="mb-3">
                <label for="email" class="form-label">Correo electronico:</label>
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
                    formControlName="email">
                <div class="form-text">Ingresa tu correo electronico</div>
                @if (hasError('email','required')) {
                <div class="text-danger mt-2">El correo es obligatorio</div>
                }
                @if( hasError('email','email')) {
                <div class="text-danger mt-2">El correo no es valido</div>
                }
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Contraseña:</label>
                <input type="password" class="form-control" id="password" formControlName="password">
                <div class="form-text">Ingresa tu contraseña</div>
                @if (hasError('password','required')) {
                <div class="text-danger mt-2">La contraseña es obligatoria</div>
                }
            </div>

            <div class="mb-3">
                <label for="" class="form-label">Tipo de empleado</label>
                <select class="form-select" aria-label="Default select example" formControlName="role">
                    <option value="Administrador">Administrador</option>
                    <option value="Project Manager">Project Manager</option>
                    <option value="Empleado">Empleado</option>
                </select>
                <div class="form-text">Ingresa tu cargo en la empresa</div>
                @if(hasError('role','required')){
                <div class="text-danger mt-2">El cargo es obligatorio</div>
                }
            </div>

            <div class="mb-3 d-flex justify-content-around">
                <a routerLink="/forgot-password" class="text-decoration-none">Recuperar contraseña</a>
                <a routerLink="/log-in" class="text-decoration-none">¿Ya tienes una cuenta? Iniciar Sesión</a>
            </div>

            <button type="submit" class="btn btn-primary mt-3">Registrarse</button>

        </form>
    </section>
</main>