<main class="container-fluid">
    <section class="row p-4">
        <article class="col d-flex align-items-center">
            <h2>Gestión de recursos</h2>
        </article>

        <article class="col-6 col-lg-3 d-flex justify-content-end align-items-center">
            <a class="btn btn-dark">Nuevo Recurso</a>
        </article>
    </section>
</main>

<main class="container-fluid">
    <section class="row p-4">
        <article class="col-lg card p-2">
            <h5 class="card-title">Recursos Materiales</h5>
            <h6 class="card-subtitle">Gestiona equipos, software e infraestructura de la empresa</h6>
            <form class="mt-3 p-2 d-flex gap-4">

                <input type="text" class="form-control mb-3" placeholder="Buscar recurso...">

            </form>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Recurso</th>
                            <th scope="col">Asignado a</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Diseño de interfaz de usuario</th>
                            <td><span class="badge text-bg-info">Sistema CRM</span></td>
                            <td>
                                <div class="d-flex gap-2">
                                    <a class="btn btn-light border border-light-subtle"><img
                                            src="/assets/icons/edit.svg" width="20"></a>
                                    <a class="btn btn-light border border-light-subtle"> <img
                                            src="/assets/icons/delete.svg" width="20"> </a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </article>
    </section>
</main>

<main class="container-fluid">
    <section class="row p-4">
        <article class="col-lg card p-2">
            <h5 class="card-title">Asignaciones de Personal</h5>
            <h6 class="card-subtitle">Gestiona la asignación de empleados a proyectos y su carga de trabajo</h6>
            <form class="mt-3 p-2 d-flex gap-4">

                <input type="text" class="form-control mb-3" placeholder="Buscar usuario...">

                <select class="form-select form-select-sm mb-3" aria-label=".form-select-sm example">
                    <option selected>Filtrar por rol</option>
                    <option value="1">Administrador</option>
                    <option value="2">Empleado</option>
                    <option value="3">Cliente</option>
                </select>

            </form>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Empleado</th>
                            <th scope="col">Proyecto</th>
                            <th scope="col">Rol</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Pia Miranda</th>
                            <td><span class="badge text-bg-info">Sistema CRM</span></td>
                            <td>Project Manager</td>
                            <td>
                                <div class="d-flex gap-2">
                                    <a class="btn btn-light border border-light-subtle"><img
                                            src="/assets/icons/edit.svg" width="20"></a>
                                    <a class="btn btn-light border border-light-subtle"> <img
                                            src="/assets/icons/delete.svg" width="20"> </a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </article>
    </section>
</main>